<h1><%= @tag.name %> posts</h1>

<% @tag.posts.each do |post| %>
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-heading" >
        <%= link_to post.title, post_path(post) %>
      </div>
      <div class="panel-body">
        <h3><%= post.body %></h3>
        <p><small>
          Tags:
          <% post.tags.each do |tag| %>
            <%= link_to tag.name, tag_path(tag) %>
          <% end %>
        <p></small>
        <small><%= post.created_at.in_time_zone.strftime("%m/%d/%Y at %I:%M%p") %></small>
      <% if user_signed_in? %>
        <p><%= link_to "Edit", edit_post_path(post), style: "float:right" %></p>
        <br>
        <p><%= link_to "Delete", post_path(post), data: {confirm: "Delete?",
                                                          method: "delete"}, style: "float:right" %></p>
      </div>
      <% end %>
    </div>
  </div>
  <hr>
  <br>
<% end %>
